<div *ngIf="product.name" class="info-line-wrap border-top border-bottom py-4 mb-5">
    <h6 class="mb-2">Was bought: <span class="text-info">{{product.sum_boughts}} times</span></h6>
    <h6 class="mb-2">Average rating: 5 of 5</h6>
</div>

<div class="w-50 mx-auto" *ngIf="product.id">
    <img class="image w-50 d-block mx-auto my-3"  [src]="productImageUrl" alt="">
    <div class="input-group mb-5">
        <label class="w-100 d-block">Photo</label>
        <div class="custom-file">
            <input class="custom-file-input"
                   type="file"
                   accept="image/png, image/jpg, image/jpeg"
                   required (change)="uploadFile($event)"
                   id="inputGroupFile01"
                   aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose Photo</label>
        </div>
    </div>

    <div class="input-group mb-3">
        <label class="w-100 d-block">Name</label>
        <input type="text" [class.is-invalid]="!product.name && wasSubmitted" required [(ngModel)]="product.name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <label class="w-100 d-block">Price ($)</label>
        <input type="number" step="1.00" [class.is-invalid]="!product.price && wasSubmitted"
               [(ngModel)]="product.price"
               required class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
    </div>

    <div class="input-group mb-3">
        <label class="w-100 required d-block">Category</label>

        <select class="custom-select" [(ngModel)]="product.category.id">
            <option [value]="val.id" *ngFor="let val of categories">{{val.name}}</option>
        </select>
    </div>

    <button type="button" class="btn btn-primary mt-5 ml-auto d-block backend-save-btn" (click)="updateProduct()">Update</button>
</div>
