<div class="w-50 mx-auto">
    <div class="input-group mb-3">
        <label class="w-100 d-block">Photo</label>
        <div class="custom-file">
            <input type="file" accept="image/png, image/jpg, image/jpeg"
                   [class.is-invalid]="!product.image && wasSubmitted"
                   (change)="uploadFile($event)"
                   required class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose Photo</label>
        </div>
    </div>

    <div class="input-group mb-3">
        <label class="w-100 d-block">Name</label>
        <input type="text" [class.is-invalid]="!product.name && wasSubmitted" required [(ngModel)]="product.name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
        <label class="w-100 d-block">Price ($)</label>
        <input type="number" step="1.00" [class.is-invalid]="!product.price && wasSubmitted"
               [(ngModel)]="product.price"
               required class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
    </div>

    <div class="input-group mb-3">
        <label class="w-100 required d-block">Category</label>

        <select class="custom-select" [class.is-invalid]="!product.category_id && wasSubmitted" required [(ngModel)]="product.category_id">
            <option [value]="val.id" *ngFor="let val of categories">{{val.name}}</option>
        </select>
    </div>

    <button type="button" class="btn btn-primary mt-5 btn-lg mx-auto d-block w-75" (click)="saveProduct()">Save</button>
</div>
