.wrap {
  min-height: calc(100vh - 300px);
}

.range-wrap {
  width: 250px;

  nouislider {
    margin: 20px auto;
    margin-left: 15px;
  }
}

.my-pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  & /deep/ ul {
    padding: 0;
  }
}

