<div *ngIf="!loading">
    <div class="w-50 mx-auto">
        <div class="input-group mb-3">
            <label class="w-100 d-block">Name</label>
            <input type="text" [class.is-invalid]="!category.name && wasSubmitted" required [(ngModel)]="category.name"
                   class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <label class="w-100 required d-block">Parent</label>

            <select class="custom-select" required [(ngModel)]="parentId">
                <option [value]="0">__</option>
                <option [value]="val.id" *ngFor="let val of allCategories">{{val.name}}</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary mt-5 btn-lg mx-auto d-block w-75" (click)="saveCategory()">Save
        </button>
    </div>
</div>
