.product-name {
 font-size: 20px;
}

.product-category {
  font-size: 18px;
}

.photo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  object-position: center;
}

.price {
  width: 300px;
}

.delete-order {
  height: 40px;
}

.full-price-item {
  font-size: 20px;
}

.full-price {
  margin-right: 170px;
  font-size: 30px;
}