<div class="d-flex justify-content-between">
    <ul class="nav nav-tabs w-100 mr-5">
        <li class="nav-item">
            <a class="nav-link active" href="#">List</a>
        </li>
    </ul>
</div>

<div class="filter my-3 w-100 d-flex py-3 px-4 flex-wrap">
    <div class="filters d-flex flex-column w-50">
        <h5 class="mb-5 w-100">Filters:</h5>

        <label class="w-100 required d-block">Calendar</label>
        <button type="button"
                (click)="toggleCalendar()"
                class="btn mr-2 mb-3 calendar"
                [ngClass]="{
                   'btn-light': !isOpenCalendar,
                   'btn-danger': isOpenCalendar
                   }"
                [class.btn-success]="orderType === 'price'">
            <i class="fa fa-calendar" *ngIf="!isOpenCalendar" aria-hidden="true"></i>
            <i class="far fa-times-circle" *ngIf="isOpenCalendar"></i>
        </button>

        <ngb-datepicker *ngIf="isOpenCalendar" #dp (select)="onDateSelection($event)" [displayMonths]="2"
                        [dayTemplate]="t" outsideDays="hidden"></ngb-datepicker>

        <div class="range-wrap w-50" *ngIf="priceRange.length">
            <label class="w-100 required d-block">Price</label>
            <div class="d-flex justify-content-between">
                <span class="from">{{priceRange[0]}} $</span>
                <span class="to">{{priceRange[1]}} $</span>
            </div>
            <nouislider
                    [connect]="true"
                    [step]="1"
                    [min]="minPrice || 0"
                    [max]="maxPrice || 0"
                    [(ngModel)]="priceRange"
                    (change)="refresh()"
            ></nouislider>
        </div>
    </div>

    <div class="order-params ml-auto">
        <h5 class="mb-5">Sort by:</h5>
        <div class="d-flex pt-2">
            <button type="button"
                    (click)="changeFilter('price')"
                    class="btn btn-light mr-2"
                    [ngClass]="{
                   'btn-light': orderType !== 'price',
                   'btn-success': orderType === 'price'
                   }"
                    [class.btn-success]="orderType === 'price'">
                <i class="fas fa-dollar-sign pr-2"></i>
                Price
                <i class="fas pl-2"
                   [ngClass]="{
                   'fa-chevron-up': orderType === 'price' && order === 'desc'  || orderType !== 'price',
                   'fa-chevron-down': orderType === 'price' && order === 'asc'
                   }"></i>
            </button>
            <button type="button" class="btn"
                    (click)="changeFilter('newest')"
                    [ngClass]="{
                   'btn-light': orderType !== 'newest',
                   'btn-success': orderType === 'newest'
                   }">
                <i class="fas fa-fire pr-2"></i>
                Newst
                <i class="fas pl-2"
                   [ngClass]="{
                   'fa-chevron-up': orderType === 'newest' && order === 'desc'  || orderType !== 'newest',
                   'fa-chevron-down': orderType === 'newest' && order === 'asc'
                   }"></i>
            </button>
        </div>
    </div>
</div>



<div class="wrap row">
    <table class="table mt-5">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Count Products</th>
            <th scope="col">Sum Price</th>
            <th scope="col">Date of adding</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders | paginate: { itemsPerPage: meta.per_page, currentPage: page, totalItems: meta.total  }; let i = index;">
            <th scope="row">{{((page - 1) * meta.per_page) + (i+1)}}</th>
            <td>{{order.customer.name}}</td>
            <td>{{order.count}}</td>
            <td>{{order.full_price}}$</td>
            <td>{{order.created_at}}</td>
            <td class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary d-block mr-5"
                        [routerLink]="['/backend/orders/edit/', order.id]">
                    <i class="fas fa-pen pr-2"></i>
                    Edit
                </button>
                <button type="button" class="btn btn-danger d-block" (click)="remove(order.id)">
                    <i class="fas fa-trash-alt pr-2"></i>
                    Remove
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>

<pagination-controls class="my-pagination" *ngIf="orders.length"
                     (pageChange)="changePage($event)"></pagination-controls>
